
<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>常见问题</title>
  <meta name="description" content="鲜行是中国最专业的生鲜在线销售平台。" />
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta http-equiv="cleartype" content="on">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">


    <meta name="mobile-web-app-capable" content="yes">

    <link class="usemin" rel="stylesheet" href="http://bangzai.oss-cn-shanghai.aliyuncs.com/user_agreement.css">

  </head>

<body>

  <article class="container">
  <section>
    <h1>应用问题</h1>
    <p class="no-indent"><strong>Q：支付的方式有哪些？</strong></p>
    <p class="no-indent">目前我们支持的支付方式只有货到付款，收到货物后当面和鲜行结清款项即可。在线支付功能我们将尽快开通，请您耐心等待。</p>
    <p class="no-indent"><strong>Q：配送的区域有哪些？</strong></p>
    <p class="no-indent">在“买菜”界面，可以通过定位您的位置，显示您附近的店；如果您的收货地址和您的所在位置不符，您可以点击屏幕上方的位置修改您的地址，显示您的地址附近的店。如果您选择的位置附近没有店（3KM范围内），我们将无法为您进行配送。</p>
  </section>

  <section>
    <h1>反馈问题</h1>
    <p class="no-indent"><strong>Q：如何进行问题的反馈？</strong></p>
    <p class="no-indent">您可以通过拨打客服热线：******，向客服反馈相关问题，服务时间为9:00-21:00；同时，您还可以在“我的”界面，选择“反馈”，来反馈相关的问题。</p>
  </section>

  <section>
    <h1>订单问题</h1>
    <p class="no-indent"><strong>Q：与鲜行配送员协调不一致我要如何反馈？</strong></p>
    <p class="no-indent">如果遇到一些问题，鲜行配送员无法为您解答或者协商结果您不满意，您可以联系店长或者拨打我们的客服热线：******，服务时间为9:00-21:00。</p>
    <p class="no-indent"><strong>Q：如何取消订单？</strong></p>
    <p class="no-indent">如果商家尚未接单，您可以在订单详情页通过“取消订单”功能进行取消；如果商家已经接单，则需要您联系店长或者我们的客服进行处理。</p>
    <p class="no-indent"><strong>Q：我的订单为何被取消了？</strong></p>
    <ol>
      <li>如果商家30分钟内未接您的订单，为了保障您的权益，系统将会为您自动取消订单；</li>
      <li>在接单后可能由于无法联系到您、菜品售完以及一些不可抗力因素无法进行配送，因而取消了您的订单，具体的原因可查看系统发送的通知。</li>
    </ol>
    <p class="no-indent"><strong>Q：刚下单发现信息填错了怎么办？</strong></p>
    <p class="no-indent">如果商家尚未接单，您可以自主取消订单；如果商家已经接单，则需要您联系店长或者我们的客服进行处理。</p>
    <p class="no-indent"><strong>Q：我的订单是否被商家确认？</strong></p>
    <p class="no-indent">可以在“订单状态”页面刷新查看。</p>
    <p class="no-indent"><strong>Q：订单多久内可以评价？评价后是否能修改？</strong></p>
    <ol>
      <li>下单确认收货后7天以内可以对订单进行评价。超过7天，评价功能自动失效；</li>
      <li>订单一旦评价就不能做修改。如果您有特殊情况需要删除评价，可以联系客服协助操作。</li>
    </ol>
    <p class="no-indent"><strong>Q：如果配送时间内无法收货怎么办？</strong></p>
    <p class="no-indent">如果在您选择的配送时间内都无法进行收货，请及时联系店长或者我们的客服进行处理。如果出现您多次下单但是没有收货的行为，您的账户可能被系统予以封禁，无法进行下单操作。</p>
  </section>

  <section>
    <h1>账户问题</h1>
    <p class="no-indent"><strong>Q：提示手机号已经被注册怎么办？</strong></p>
    <p class="no-indent">同一手机号码仅能注册一个账户，如果提示手机号已经被注册，说明手机号已经注册过鲜行服务平台，如果您的手机号已经被占用，请使用没有注册过的一个新的手机号进行注册；如果您想使用被占用的手机，请在登录界面中选择忘记密码操作，进行设置。</p>
    <p class="no-indent"><strong>Q：收不到验证码怎么办？</strong></p>
    <p class="no-indent">出现此问题可能有如下原因，请您进行核对：</p>
    <ol>
      <li>手机号输入错误，请您核实您输入的手机号是否正确以及手机是否停机；</li>
      <li>短信被拦截，请您检查一下您的手机是否有拦截短信的应用或者到拦截短信中查看；</li>
      <li>请检查您的网络是否连接，建议您稍后多尝试几次。</li>
    </ol>
    <p class="no-indent"><strong>Q：忘记密码怎么办？</strong></p>
    <p class="no-indent">您可以在登录界面通过“忘记密码”进行找回密码操作。</p>
    <p class="no-indent"><strong>Q：我的账户为何无法进行下单？</strong></p>
    <p class="no-indent">如果您进行多次恶意下单行为，您的账户可能被系统予以封禁，无法进行下单操作。</p>
  </section>
  

</article>

</body>
</html>

